* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  background-color: blue;
  /*makes the container half the size of the view width (window width at any time)*/
  width: 50vw;
  height: 50vh;
  /*Will keep the container auto margined (centered) in parent container (the window in this case is parent to this div) and top/bottom at 25% of the window height so it is centerd vewrticlaly too*/
  margin: 25vh auto;
}

.App h1 {
  text-align: center;
  color: #fff;
}

.App:hover {
  background-color: red;
}
