* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 13px Helvetica, Arial;
}

.title-div {
  border-bottom: 1px solid black;
  color: white;
  background-color: cornflowerblue;
}

h1 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}

form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

button:hover {
  background-color: indianred;
  color: white;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}
