// utility class for default styles for any div with a class of container
// this makes our styles for containers easily accessible and more scalable for fast changes
// that is the whole point of SASS!
.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

// creating loops
// making utlitiy classes with a loop

// margin & padding classes - the loop will create all styles for us from 1-5
// instewad of us writing 5 classes that are all duplicates but the number changes.. this is so sick
$spaceamounts: (1, 2, 3, 4, 5);
@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
