* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /*disable scroll (only enable scroll for the list of videos*/
  height: 100%;
  overflow-y: hidden;

}

/*assigning a scroll override to the list of videos only
and giving the scroll heigh 30% so it will only render 30% of 
the list, thus, we will need to scroll more to see more*/
.scrollOnlyDefault {
  height: 30%;
  overflow-y: scroll !important;
}