@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

svg {
  width: 300px;
}

.bg-1 {
  width: 300px;
  height: 300px;
  background-color: rgb(252, 215, 111);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 90px;
  left: 70px;
}
.bg-2 {
  width: 300px;
  height: 300px;
  background-color: rgb(177, 228, 248);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 90px;
  left: 70px;
}
.bg-3 {
  width: 300px;
  height: 300px;
  background-color: rgb(59, 103, 193);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 90px;
  left: 70px;
}

.explain {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  position: absolute;
  bottom: 30px;
  left: 0;
}

.btn-explanations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-top: 1rem;
}

.btn-edit-container,
.btn-complete-container,
.btn-delete-container {
  display: flex;
  padding: 0.6rem 0;
  align-items: center;
}

.btn-edit-container .update-btn,
.btn-complete-container .complete-btn,
.btn-delete-container .remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  border-radius: 3px;
  width: 2.7rem;
  height: 2.7rem;
  align-items: center;
}

.update-btn {
  background-color: #14a3b8;
}
.complete-btn {
  background-color: #28a744;
}
.remove-btn {
  background-color: #dd3444;
}

.my-modal {
  margin-top: 10rem;
  width: 90vw;
  min-height: 20vh;
}

@media screen and (max-width: 480px) {
  .explain {
    padding: 0 1rem;
    color: #000;
  }
  .bg_svg {
    display: none;
  }

  .btn_ {
    width: 100%;
  }
}
