@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

svg {
  width: 300px;
}

.bg-1 {
  width: 300px;
  height: 300px;
  background-color: rgb(252, 215, 111);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 90px;
  left: 70px;
}
.bg-2 {
  width: 300px;
  height: 300px;
  background-color: rgb(177, 228, 248);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 90px;
  left: 70px;
}
.bg-3 {
  width: 300px;
  height: 300px;
  background-color: rgb(59, 103, 193);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 90px;
  left: 70px;
}

.explain {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  position: absolute;
  bottom: 30px;
  left: 0;
}

.btn-explanations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-top: 1rem;
}

.btn-edit-container,
.btn-complete-container,
.btn-delete-container {
  display: flex;
  padding: 0.6rem 0;
  align-items: center;
}

.btn-edit-container .update-btn,
.btn-complete-container .complete-btn,
.btn-delete-container .remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  border-radius: 3px;
  width: 2.7rem;
  height: 2.7rem;
  align-items: center;
}

.update-btn {
  background-color: #14a3b8;
}
.complete-btn {
  background-color: #28a744;
}
.remove-btn {
  background-color: #dd3444;
}

.my-modal {
  margin-top: 10rem;
  min-height: 20vh;
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  min-height: 100%;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 3px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

@media screen and (max-width: 480px) {
  .explain {
    padding: 0 1rem;
    color: #000;
  }
  .bg_svg {
    display: none;
  }

  .btn_ {
    width: 100%;
  }
}
